    <link rel="stylesheet" href="identificacion.component.css">

    <div class="contenedor">
        <div className="registrate">
            <h1>Inicio de Sesion <br/>APP-Pilot PC</h1>

            <form className="formulario" action="" onSubmit={submit}>
                <i class="material-icons prefix">person</i>
                <input type="text" name="usuario" id="usuario" placeholder="Usuario" />
                <i class="material-icons prefix">lock</i>
                <input type="password" name="password" id="password" placeholder="Contraseña" />
                
                <br>
                <br>
                <div class="recaptcha">
                    <form [formGroup]="fgValidador">
                        <ngx-recaptcha2 #captchaElem
                          [siteKey]="siteKey"
                          formControlName="recaptcha">
                        </ngx-recaptcha2>
                      </form>
                </div>
                <br>
                <br>
                <button type="submit" class="ingresar">Ingresar</button>
            </form>
        </div>
        <div>
            <h1>¡¡Bienvenido!!</h1>
        </div>
    </div>

    
    

    


