


<body>
    <div class="menu_bar">
        <h1 class="logo">Pilot<span>PC</span></h1>
        <ul>
        
            <li *ngIf = "sesionIniciada"> 
                <a routerLink ="/inicio"><span><i class="fas fa-home"></i></span>Inicio</a>
             </li>
            <li *ngIf = "sesionIniciada" > 
              <a routerLink ="/administracionpersonas">Clientes</a>
          </li>
            <li *ngIf = "sesionIniciada">
                <a routerLink ="/"><span><i class="fas fa-file-signature"></i></span>Solicitar<br/>Pedido</a>
            </li>
            <li *ngIf = "sesionIniciada">
                <a routerLink ="/"><span><i class="fas fa-user-lock"></i></span>Empleado</a>
            </li>
            <li *ngIf = "sesionIniciada">   
              <a routerLink ="/seguridad/cambioclave">Cambie su Clave</a>
          </li>
          <li *ngIf = "sesionIniciada">   
            <a routerLink ="/seguridad/cerrar-sesion">Cerrar Sesion</a>
        </li>
          <li *ngIf = "!sesionIniciada">    
            <a routerLink ="/seguridad/identificar">Iniciar Sesion</a>
        </li>
      </ul>
    </div>
  
  </body>
  






<!--
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
-->