



      
<!-- FOOTER -->

<footer>
  <div class="container_footer">
      <div class="box_footer">
          <div class="terms1">
              <h5>Pilot PC</h5>
              <p>Todos los productos tienen estandares de alta calidad, que garantizan la eficacia del servicio, para una compra con satisfacción garantizada</p>
          </div>
      </div>

      <div class="box_footer">
        <div class="terms2">
            <h5>Solicita tu pedido:</h5>
            <div class="historico">
          <a href="/Personas/1DatosPersonales/Index1"><span><i class="fas fa-file-signature"></i></span>Solicitar Pedido</a>
          </div>
        </div>
    </div>

      <div class="box_footer">
        <div class="terms3">
          <h5>Redes sociales</h5>
         <a href="#"><span><i class="fab fa-whatsapp"></i></span>Whatsapp</a>
         <a href="#"><span><i class="fab fa-facebook-f"></i></span>Facebook</a>
         <a href="#"><span><i class="fab fa-instagram"></i></span>Instagram</a>
         <a href="#"><span><i class="fab fa-twitter"></i></span>Twitter</a>
        </div>
      </div>
  </div>  

    <div class="container">
        &copy; 2021 - Pilot PC - <a asp-area="" asp-page="/Index">Home</a>
    </div>      
  </footer> 



  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>

  <!-- seccion de productos slider-->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="ProductosSlider.js"></script>
  
  <!-- Materialize.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  





<!--
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
-->